<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ chart.title | replace({'<br/>': ' - '}) | striptags }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.95, maximum-scale=0.95, user-scalable=0" />
    {# <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0;URL='static.html'">
    <![endif]--> #}
    <!--[if lt IE 9]>
    <script src="{{ DW_DOMAIN }}/static/vendor/json-js/json2.min.js"></script>
    <script type="text/javascript">
        window.__ltie9 = true;
    </script>
    <![endif]-->
    {% if innersvg %}
    <script type="text/javascript" src="{{ DW_DOMAIN }}/static/vendor/innersvg/innersvg.js"></script>
    {% endif %}

    {{ hook('chart_html_head', chart) }}

{% for src in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ src }}"></link>
{% endfor %}

    <script type="text/javascript">
    window.__locale = '{{ chartLocale }}';
    </script>

{% for script in scripts %}
  {% if script.ie %}<!--[if {{ script.ie }}]>
  {% endif %}
    <script type="text/javascript" src="{{ script.src }}"></script>
  {% if script.ie %}<![endif]-->
  {% endif %}
{% endfor %}

</head>
<body class="dw-chart dw-chart-iframe chart{% if fullscreen %} fullscreen{% endif %}{% if plain %} plain{% endif %} theme-{{ chart.theme }} dw-theme-{{ chart.theme }} vis-{{ chart.type }} dw-vis-{{ chart.type }}">

    {# some convenient short cuts for theme templates #}
    {% set title = chart.title %}{% set intro = chart.metadata.describe.intro %}{% set source = chart.metadata.describe['source-name'] %}{% set sourceURL = chart.metadata.describe['source-url'] %}

    <div class="dw-chart-header">
        {% block chart_header %}{% endblock %}
    </div>


    <div class="dw-chart-body"></div>

    <div class="dw-chart-footer">
        {% block chart_footer %}{% endblock %}
    </div>


    <script type="text/javascript">

    if (document.getElementsByTagName('script').length > 0) $('dw-chart').addClass('dw-chart-js');

    __dw.init({
        chartJSON: JSON.parse('{{ chart.toJSON | raw }}'),
        chartLocale: '{{ chartLocale }}',
        themeId: '{{ theme.id }}',
        visId: '{{ visualization.id }}',
        visJSON: JSON.parse('{{ visualization | json | e("js") | raw }}'),
        metricPrefix: JSON.parse('{{ metricPrefix | json | e("js") |  raw }}'),
        lang: '{{ lang }}'
    });

    </script>

    {{ hook('chart_after_body', chart, published) }}
</body>
</html>
