
{% extends "chart.twig" %}
{% use "theme-core.twig" %}

{% block chart_header %}
    {% if not plain %}
    {{ block('chart_title') }}
    {{ block('chart_intro') }}
    {% endif %}
{% endblock %}


{% block chart_footer %}
    {% if not plain %}
    <div class="dw-footer-about">
         {% trans "Created with" %} <a href="{{ DW_DOMAIN }}" target="_blank" class="lgo">Datawrapper</a>
    </div>
    {% if source %}
    <div class="dw–footer–source">
        <span data-src="{% trans "Source: " %}" class="source-block">{% trans "Source: " %}
        {% if sourceURL %}<a target="_blank" class="source" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>{% endif %}</span>
    </div>
    {% endif %}
    <div class="dw-footer-data">
        <a href="data">{% trans "Get the data" %}</a>
    </div>
    {% endif %}
{% endblock %}
